<div class="panel panel-default">
    <div class="panel-body">
      <form id="document-edit" #entryForm="ngForm" (ngSubmit)="onSaveEntry(entryForm)">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="startDate">Start Time</label>
            <input
              type="datetime-local"
              id="startDate"
              class="form-control"
              name="startDate"
              [(ngModel)]="entry.startDate"
            />
          </div>
  
          <div class="col-sm-12 form-group">
            <label for="endDate">End Time</label>
            <input
              type="datetime-local"
              id="endDate"
              class="form-control"
              name="endDate"
              [(ngModel)]="entry.endDate"
            />
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit">Send</button>
            <button class="btn btn-danger" type="button" (click)="onClear()">Clear</button>
            <button class="btn btn-primary" type="button" (click)="onBack()">Back to List</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  